{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schedule Helper</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
    </head>

    <body>
        <main class="dashboard">
            <nav class="dashboard-sidenav">
                <a href="{% url 'cal:calendar' %}" class="logo">
                    Schedule
                    Helper
                </a>
            </nav>

            <article class="dashboard-content">
                <header class="welcome-banner">
                    <h2>Today's</h2>
                    <p>Weather</p>
                </header>

                <section class="section">
                    <div class="section-titles"></div>
                    <ul class="monitor-list">
                        <li class="monitor-list__item">
                            <div class="monitor-data">
                                <div class="monitor-type"><strong>🧥 오늘의 코디</strong></div>
                            </div>
                            <div class="monitor-gauge">
                                (if문을 돌려보아야 해여~)</a>
                            </div>
                        </li>
                        
                        <li class="monitor-list__item active">
                            <div class="monitor-data2">
                                <div class="monitor-type">Applications</div>
                            </div>
                            <div class="monitor-gauge">
                                <a href="#" class="gauge gauge-warning" style="--gauge-value: 50; --gauge-max-value: 100;"></a>
                            </div>
                        </li>
                    </ul>
                </section>
                
                <section class="section">
                    <div class="section-titles">
                    </div>
                    <div class="main__cards">
                        <div class="card">
                          <div class="card__header">
                            <div class="card__header-title text-light"><strong>🗓️ 일 정</strong>
                              <a href="{% url 'cal:calendar' %}" class="card__header-link text-bold">캘린더 보기</a>
                            </div>
                          </div>

                          <div class="card__main">
                            <div class="card__row">
                              <div class="card__icon"><i class="fas fa-gift"></i></div>
                              <div class="card__time">
                                <div>today</div>
                              </div>
                              <div class="card__detail">
                                <div class="card__source text-bold">Jonathan G</div>
                                <div class="card__description">Going away party at 8:30pm. Bring a friend!</div>
                                <div class="card__note">1404 Gibson St</div>
                              </div>
                            </div>
                            <div class="card__row">
                              <div class="card__icon"><i class="fas fa-plane"></i></div>
                              <div class="card__time">
                                <div>Tuesday</div>
                              </div>
                              <div class="card__detail">
                                <div class="card__source text-bold">Matthew H</div>
                                <div class="card__description">Flying to Bora Bora at 4:30pm</div>
                                <div class="card__note">Delta, Gate 27B</div>
                              </div>
                            </div>
                            <div class="card__row">
                              <div class="card__icon"><i class="fas fa-book"></i></div>
                              <div class="card__time">
                                <div>Thursday</div>
                              </div>
                              <div class="card__detail">
                                <div class="card__source text-bold">National Institute of Science</div>
                                <div class="card__description">Join the institute for an in-depth look at Stephen Hawking</div>
                                <div class="card__note">7:30pm, Carnegie Center for Science</div>
                              </div>
                            </div>
                            <div class="card__row">
                              <div class="card__icon"><i class="fas fa-heart"></i></div>
                              <div class="card__time">
                                <div>Friday</div>
                              </div>
                              <div class="card__detail">
                                <div class="card__source text-bold">24th Annual Heart Ball</div>
                                <div class="card__description">Join us and contribute to your favorite local charity.</div>
                                <div class="card__note">6:45pm, Austin Convention Ctr</div>
                              </div>
                            </div>
                            <div class="card__row">
                              <div class="card__icon"><i class="fas fa-heart"></i></div>
                              <div class="card__time">
                                <div>Saturday</div>
                              </div>
                              <div class="card__detail">
                                <div class="card__source text-bold">Little Rock Air Show</div>
                                <div class="card__description">See the Blue Angels fly with roaring thunder</div>
                                <div class="card__note">11:00pm, Jacksonville Airforce Base</div>
                              </div>
                            </div>
                          </div>
                        </div>
            </article>

            <article class="dashboard-others">
                <section class="section">
                    <h2>⭐ 추천 리스트</h2>
                    <div class="section-titles">
                        <div class="section-title">🍽️ 맛집 추천</div>
                    </div>
                    <ul class="function-list">
                        <li class="function-list__item" style="--function-color: var(--first-cate-color);">
                            <div class="function">
                                <div class="text"><p><strong>한 식</strong></p></div>
                            </div>

                        </li>
                        <li class="function-list__item" style="--function-color: var(--second-cate-color);">
                            <div class="function">
                                <div class="function">
                                    <div class="text"><p><strong>양 식</strong></p></div>
                                </div>
                            </div>
                        </li>

                        <li class="function-list__item" style="--function-color: var(--third-cate-color);">
                            <div class="function">
                                <div class="function">
                                    <div class="text"><p><strong>중 식</strong></p></div>
                                </div>
                            </div>
                        </li>
                        <li class="function-list__item update-function" style="--function-color: var(--fourth-cate-color);">
                            <div class="function">
                                <div class="function">
                                    <div class="text"><p><strong>일 식</strong></p></div>
                                </div>
                            </div>

                            <div class="function-data">
                                <div class="function-name"></div>
                            </div>
                        </li>
                    </ul>
                </section>

                <section class="section">
                    <div class="section-titles">
                        <div class="section-title">
                            ✈️ 여행지 추천
                        </div>
                    </div>
                    <div class="statistics">
                        <div class="progress-data">
                            <div class="progress-text">
                                <div class="progress-weekday">CURRENT/FRIDAY</div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <script src="{% static 'js/detial.js' %}"></script>
    </body>
</html>